* {
  font-weight: 100;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-clip: content-box;
}

body {
  margin: 0;
}

footer,
header {
  background-color: black;
  color: white;
}

h2,
p {
  margin: 0;
}

h1 {
  margin: 10px 0;
}

.page {
  position: absolute;
  top: 0;
}

@font-face {
  font-family: "Geometria";
  src: url("https://gymnastjs.github.io/gymnast/fonts/Geometria-Light.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
